@model EventViewModel

@foreach (var eventItem in Model.Events)
{
    <div>
        <h2>@eventItem.name</h2>
        <!-- Removed venue and attraction details for simplicity -->
    </div>
}
<div>
    @if (ViewBag.CurrentPage > 1)
    {
        <a href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 })">Previous Page</a>
    }

    <a href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1 })">Next Page</a>
</div>



@if (!string.IsNullOrEmpty(Model.NextPageUrl))
{
    <a href="@Model.NextPageUrl">Next Page</a>
}


